/.phpunit.cache
/node_modules
build/
assets/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/views/*
/vendor
.env
.env.local
.env.backup
.env.production
.env.testing
example.htaccess
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
package-lock.json
bootstrap/ssr/
/composer.lock
