.feed-list{
    @apply w-full;
    .feed{
        @apply relative w-full mb-6 ms-5 flex justify-start items-center;
        .feed-line{
            @apply absolute -bottom-4 left-[5px] bg-slate-400 rounded-4xl;
            content: '';
            width: 2px;
            height: 14px;
        }
        .feed-success,.feed-ok{
            @apply bg-green-600;
        }
        .feed-warning{
            @apply bg-yellow-300;
        }
        .feed-danger{
            @apply bg-red-500;
        }
        .feed-node{
            @apply mt-[3.5px] ring-1 ring-gray-500 shadow size-3 rounded-4xl content-[''] relative;
        }
        .feed-img{
            @apply absolute -top-[11px] -left-[11px] rounded-4xl content-[''] size-8 bg-cover bg-no-repeat;
        }
        .feed-content{
            @apply ms-6 flex flex-wrap gap-0 w-full;
            .flexbox{
                @apply min-w-fit flex-auto1 w-10/12 flex justify-start items-center space-x-2;
                .subtitle{
                    @apply min-w-fit text-slate-500 text-sm;
                }
            }
            .timestamp-ago{
                @apply min-w-fit flex-auto1 w-2/12 text-slate-500 text-sm;
            }
        }
    }
}

