.form-peer{
    @apply mt-3;
}
.form-group{
    @apply my-2;
}
.form-group-flex{
    @apply my-1 flex justify-start items-center space-x-2;
}
.form-row-nowarp{
    @apply flex flex-nowrap;
    & > .col{
        @apply flex-auto1 w-1/2;
    }
    & > .col-1{
        @apply flex-auto1 w-1/12;
    }
    & > .col-2{
        @apply flex-auto1 w-2/12;
    }
    & > .col-3{
        @apply flex-auto1 w-3/12;
    }
    & > .col-4{
        @apply flex-auto1 w-4/12;
    }
    & > .col-5{
        @apply flex-auto1 w-5/12;
    }
    & > .col-6{
        @apply flex-auto1 w-6/12;
    }
    & > .col-7{
        @apply flex-auto1 w-7/12;
    }
    & > .col-8{
        @apply flex-auto1 w-8/12;
    }
    & > .col-9{
        @apply flex-auto1 w-9/12;
    }
    & > .col-10{
        @apply flex-auto1 w-10/12;
    }
    & > .col-11{
        @apply flex-auto1 w-11/12;
    }
    & > .col-12{
        @apply flex-auto1 w-full;
    }
}
.form-solid{
    @apply disabled:bg-gray-200 disabled:ring-gray-200 bg-slate-200 autofill:bg-slate-200 ring-1 ring-slate-200 shadow rounded-md px-2 py-2 focus:outline-0 valid:ring-slate-200 invalid:ring-red-500;
    &:-webkit-autofill{
        background-color: red !important;
    }
}

.form-solid:read-only{
    @apply cursor-grab focus:outline-0;
}

.form-color{
    @apply p-1 min-w-10 disabled:bg-gray-200 disabled:ring-gray-200 bg-slate-200;
    &:disabled{
        box-shadow: none !important;
        cursor: not-allowed !important;
    }
}

.form-range{

}

.form-file{
    @apply disabled:text-gray-200 disabled:bg-gray-200 disabled:cursor-not-allowed disabled:ring-gray-200 bg-slate-200 file:hidden w-fit shadow ring-1 px-4 py-2 rounded valid:ring-slate-200 invalid:ring-red-500;
}


.form-password-group{
    @apply flex;
    *{
        box-shadow: unset;
    }
    .front{
        border-top-right-radius: unset !important;
        border-bottom-right-radius: unset !important;
    }
    .back{
        padding: 4px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: unset!important;
        border-bottom-left-radius: unset!important;

        &:active{
            box-shadow: none !important;
        }
    }
}
