.noto-serif-tc-extralight {
    font-family: "Noto Serif TC", serif;
    font-weight: 200;
    font-style: normal;
}

.noto-serif-tc-light {
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-style: normal;
}

.noto-serif-tc-regular {
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
}

.noto-serif-tc-medium {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    font-style: normal;
}

.noto-serif-tc-semibold {
    font-family: "Noto Serif TC", serif;
    font-weight: 600;
    font-style: normal;
}

.noto-serif-tc-bold {
    font-family: "Noto Serif TC", serif;
    font-weight: 700;
    font-style: normal;
}

.noto-serif-tc-black {
    font-family: "Noto Serif TC", serif;
    font-weight: 900;
    font-style: normal;
}
