.container1 {
    .home {
        .banner {
            @apply relative w-full z-[1] bg-fixed bg-origin-border bg-repeat-y;
            background-color: rgba(255, 255, 255, 0.6);
            background-size: cover;
            height: calc(100vh - 72px);

            .row {
                backdrop-filter: blur(10px);
                @apply absolute w-full h-full text-white left-0 top-0 flex flex-nowrap;
                .col {
                    position: relative;
                    flex: 0 0 auto;
                    width: 50%;
                }

                .left {
                    position: absolute;
                    top: 25%;
                    left: 25%;

                    .title {
                        @apply text-4xl text-nowrap w-fit;
                    }

                    .description {
                        @apply mt-5 text-center w-fit;
                    }
                }
            }
        }
    }
}
