.container1 {
    @apply mt-[72px];
    .home {
        .banner {
            @apply relative w-full z-[1] bg-fixed bg-origin-border bg-repeat-y;
            background-color: rgba(255, 255, 255, 0.6);
            background-size: cover;
            height: calc(100vh - 72px);

            .row {
                backdrop-filter: blur(10px);
                @apply absolute w-full h-full text-white left-0 top-0 grid xxl:grid-cols-2 xl:grid-cols-2 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 grid-cols-1;

                .left {
                    @apply flex justify-center items-center;
                    .title {
                        @apply xs:text-2xl sm:text-2xl md:text-2xl lg:text-4xl text-nowrap w-full text-center;
                    }

                    .description {
                        @apply mt-5 text-center w-full text-center;
                    }
                }
            }
        }
    }
}
