.placeholder-circle{
    cursor: wait;
    &:after{
        border-radius: 32px !important;
    }
}
.placeholder-16-9{
    @apply aspect-video cursor-wait;
}

.placeholder{
    cursor: wait;
    position: relative;
    background: rgb(235, 235, 235) no-repeat;

    *{
        visibility: hidden;
    }

    &:after{
        @apply rounded-md;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        animation: forwards linear infinite placeholder 1.5s;
        background-image: url('../../public/assets/images/placeholder.webp');
    }
}

@keyframes placeholder{
    to{
        background-position: -1000px 0
    }
    from{
        background-position: 1000px 0
    }
}
