@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "intl-tel-input/build/css/intlTelInput.min.css";
@import "intltelinput";
@import "googlefont";
@import "colors";
@import "scrollbar";
@import "menu";
@import "register";
@import "notification";
@import "tooltip";
@import "alert";
@import "pagination";
@import "table";
@import "button";
@import "card";
@import "placeholder";
@import "persons_bar";
@import "flex_text_col";
@import "breadcrumb";
@import "form";
@import "home";


body {
    @apply relative;

    *{
        transition: all 200ms;
    }

    footer {
        @apply w-full px-5 justify-center items-center;
        .footer-menu{
            @apply grid xl:grid-cols-4 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 footer:grid-cols-1 ring-1 ring-slate-200 shadow w-full px-10 py-10 bg-neutral-700 text-white rounded-t-4xl mt-10 gap-5;
            .item{
                @apply items-start w-fit space-y-1;
                .menu-btn{
                    @apply w-fit space-x-3 py-1 hover:shadow-2xl hover:bg-neutral-300 rounded cursor-pointer select-none flex flex-nowrap justify-center items-center ps-4;
                    svg{
                        @apply flex-auto1 w-6 ms-3;
                    }
                    span{
                        @apply flex-auto1 w-full;
                    }
                }
            }
        }
        .footer1{
            @apply ring-1 ring-slate-200 shadow z-10 bg-neutral-700 text-white flex items-center justify-center w-full;
            a {
                @apply text-blue-500;
                &:hover {
                    @apply text-blue-400;
                }
            }
            .row{
                @apply flex flex-row flex-wrap space-x-0 w-full;
                .col{
                    @apply flex-auto1 footer:w-1/2 sm:w-full flex justify-center items-center;
                }
            }

            .laravel {
                color: #f4382e;

                &:hover {
                    color: #ea807b;
                }
            }
        }
    }
}
