@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "intl-tel-input/build/css/intlTelInput.min.css";
@import "components/intltelinput";
@import "components/googlefont";
@import "components/colors";
@import "components/scrollbar";
@import "components/menu";
@import "components/register";
@import "components/notification";
@import "components/tooltip";
@import "components/alert";
@import "components/pagination";
@import "components/table";
@import "components/button";
@import "components/card";
@import "components/placeholder";
@import "components/persons_bar";
@import "components/flex_text_col";
@import "components/breadcrumb";
@import "components/feed";
@import "components/form";

body {
    @apply relative;
    .frontmask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1 !important;
    }

    .container1{
        @apply w-full mt-20;
        .hero-content{
            @apply w-full bg-fixed h-fit bg-center bg-cover rounded-4xl;
            .hero-bgdropfilter{
                @apply backdrop-blur-md w-full h-full rounded-4xl;
                .gradable{
                    @apply h-full w-full grid auto-rows-max overflow-hidden relative
                    footer:grid-cols-2
                    sm:grid-cols-1
                    xs:grid-cols-1;
                    .context{
                        @apply ps-10 z-[2] break-keep overflow-hidden
                        footer:static footer:w-fit
                        sm:absolute sm:top-1/2 sm:left-0
                        xs:absolute xs:top-1/2 xs:left-0;
                        .title{
                            @apply break-all mt-10 mb-5 mr-5 bg-color1 text-black px-2 py-1
                            xl:text-4xl
                            lg:text-4xl
                            md:text-3xl
                            footer:text-2xl
                            sm:text-xl
                            xs:text-xl
                            text-sm;
                        }
                        .subtitle{
                            @apply break-all min-w-fit mb-5 mr-5 bg-color1 text-black px-2 py-1
                            xl:text-3xl
                            lg:text-3xl
                            md:text-2xl
                            footer:text-xl
                            sm:text-lg
                            xs:text-lg
                            text-xs;
                        }
                    }
                    ._3DModel{
                        @apply z-[1] bg-center bg-cover bg-no-repeat relative
                        xxl:size-[1200px]
                        xl:size-[1000px]
                        lg:size-[800px]
                        md:size-[600px] md:-left-32
                        footer:size-[400px] footer:left-0
                        sm:size-[600px]
                        xs:size-[600px]
                        size-44;
                        transition: unset !important;
                        background-size: 80%;
                        transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
                    }
                }
            }
        }
        .cloud-service{
            @apply relative bg-fixed overflow-y-hidden;
            .control{
                @apply absolute right-4 top-4 space-x-5 flex items-center justify-center w-fit z-[3];
            }
            .cloud-frame{
                @apply backdrop-blur-md;
            }
        }
    }

    *:not(textarea){
        transition: all 200ms;
    }

    footer {
        @apply w-full pt-[14rem] sm:px-5 xs:px-0 justify-center items-center;
        div.f1{
            @apply pt-10;
            .footer-menu{
                @apply grid ring-1 ring-slate-200 shadow w-full px-10 py-10 bg-neutral-700 text-white rounded-t-4xl mt-10 gap-5
                xl:grid-cols-4
                lg:grid-cols-2
                md:grid-cols-2
                footer:grid-cols-1
                sm:grid-cols-1;

                .item{
                    @apply items-start w-fit space-y-1;
                    .menu-btn{
                        @apply w-fit space-x-3 py-1 hover:shadow-2xl hover:bg-neutral-300 rounded cursor-pointer select-none flex flex-nowrap justify-center items-center ps-4;
                        svg{
                            @apply flex-auto1 w-6 ms-3;
                        }
                        span{
                            @apply flex-auto1 w-full;
                        }
                    }
                }
            }
            .footer1{
                @apply ring-1 ring-slate-200 shadow z-10 bg-neutral-700 text-white flex items-center justify-center w-full px-5;
                a {
                    @apply text-blue-500;
                    &:hover {
                        @apply text-blue-400;
                    }
                }
                .row{
                    @apply flex flex-row flex-wrap space-x-0 w-full;
                    .col{
                        @apply flex-auto1 footer:w-1/2 sm:w-full flex justify-center items-center;
                    }
                }

                .laravel {
                    color: #f4382e;

                    &:hover {
                        color: #ea807b;
                    }
                }
            }
        }
    }
}
