.iti--container .iti__a11y-text {
    width: fit-content !important;
    height: fit-content !important;
    clip: unset !important;
    color: black;
    top: 8px;
    right: 8px;
    left: unset !important;
    z-index: 30;
}
.iti__dropdown-content .iti__a11y-text {
    width: fit-content !important;
    height: fit-content !important;
    clip: unset !important;
    color: black;
    top: 8px;
    right: 8px;
    left: unset !important;
    z-index: 30;
}
