
.register-frame{
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    .register, .login, .logout, .from{
        @apply bg-neutral-100 shadow-xl border-[0.5px] border-solid border-neutral-200 p-4 w-[500px];
        .link{
            @apply text-blue-500 hover:text-blue-400;
        }
        .title{
            @apply text-center text-xl;
        }
        .row:first-child{
            @apply mt-0;
        }
        .row{
            @apply flex flex-nowrap mt-14;
            .col{
                @apply flex items-center text-xl;
                flex: 0 0 auto;
            }
            label{
                @apply w-[40%] text-right;
            }
            input{
                @apply w-[60%] text-black p-2;
            }
        }
        .button{
            @apply mt-3;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                @apply bg-emerald-400 rounded px-2 py-1 hover:bg-emerald-300 text-white p-2;
            }
        }
    }
}
